body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: #111111;
    color: #d9d9d9;
    font-family: "Oswald", sans-serif;
}

/* ===== Шапка ===== */

header {
    background-color: #1a1a1a;
    border-bottom: 2px solid #8b0000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 70px;
    height: 70px;
}

.logo span {
    color: #d9d9d9;
    font-size: 34px;
    font-weight: bold;
}

/* ===== Меню ===== */

nav {
    display: flex;
    gap: 35px;
}

nav a {
    color: #d9d9d9;
    text-decoration: none;
    text-shadow: 0 0 8px #8b0000;
    font-size: 22px;
    transition: 0.3s;
}

nav a:hover {
    color: #8b0000;
}

/* ===== Основной блок ===== */

main {
    max-width: 1000px;
    margin: 60px;
}

/* ===== Заголовки ===== */

h1 {
    color: #8b0000;
    font-size: 50px;
    margin: 0 0 30px 0;
    text-align: left;
}

h2 {
    color: #8b0000;
    font-size: 36px;
    margin-top: 50px;
}

/* ===== Текст ===== */

p {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.7;
    margin: 20px 0;
    text-align: left;
}

/* ===== Список ===== */

ul {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.8;
    margin: 20px 0;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
}

/* ===== Кнопка ===== */

.start-button {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;

    background-color: #8b0000;
    color: white;

    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

    border-radius: 12px;
    box-shadow: 0 0 15px rgba(139, 0, 0, 0.4);
    transition: 0.3s;
}

.start-button:hover {
    background-color: #b00000;
    transform: scale(1.05);
}